<nav class="p-3 bg-red-600 text-white">
  <ul class="flex justify-between gap-2">
    <button class=" font-Shizuru text-2xl focus:outline-none text-white hover:bg-zinc-400 rounded-lg p-2" [routerLink]="['/mantenimiento']">Formulario</button>
    <button class=" font-Shizuru text-2xl focus:outline-none text-white hover:bg-zinc-400 rounded-lg p-2" [routerLink]="['/inicio']">Reporte</button>
    <button class=" font-Shizuru text-2xl focus:outline-none text-white hover:bg-zinc-400 rounded-lg p-2" [routerLink]="['/login']">Login</button>
  </ul>
</nav>
