<nav class="p-3 bg-sky-800 text-white">
  <ul class="flex justify-between gap-2">
    <button class="bg-zinc-500 focus:outline-none text-white hover:bg-zinc-600 rounded-lg p-2" [routerLink]="['/inicio']">Inicio</button>
    <button class="bg-zinc-500 focus:outline-none text-white hover:bg-zinc-600 rounded-lg p-2" [routerLink]="['/reportes']">Reportes</button>
    <button class="bg-zinc-500 focus:outline-none text-white hover:bg-zinc-600 rounded-lg p-2" [routerLink]="['/mantenimiento']">Mantenimiento</button>
    <button class="bg-zinc-500 focus:outline-none text-white hover:bg-zinc-600 rounded-lg p-2" [routerLink]="['/ajustes']">Ajustes</button>
    <button class="bg-zinc-500 focus:outline-none text-white hover:bg-zinc-600 rounded-lg p-2" [routerLink]="['/mipagina']">Mi Pagina</button>
  </ul>
</nav>
